// $mainColor: #black;
$mainColor: #071e3d; 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: $mainColor;
  color: #f8f8f9;
}

.home {
  display: flex;
  top: 0;
  // background: url("images/banner.jpg") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  // font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
  display: block;
  margin: 80px 0 auto 30px;
}

.home-content{
  width: 1200px;
  display: inline-block;
  background-color: grey;
}