@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.about-div {
  color: black;
  background-color: #f8f8f9;
  height: auto;
  width: 100%;
  margin: 0;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.about-wrapper{
  margin: 0;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: 60px;
  text-align: center;
}
.small-t {
  font-family: 'Montserrat', sans-serif;
  font-size: 55%;
  color: rgb(95, 95, 95);
}

div.Typewriter{

  font-size: 60px;
  width: 805px;
  height: auto;
  text-align: center;
}


div.logo-div{
  
  // transform: translate(0,-50px);
}