.about-div {
  padding-top: 80px;
  color: black;
  background-color: #f8f8f9;
  height: 700px;
  width: 100vw;
}

.about-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div.Typewriter{
  font-size: 70px;
  width: 700px;
  height: 200px;
}
.logo-div{
  margin-left: 0;
}

.logo-div svg {
  height: 700px;
  width: auto;

}

