@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
#blog{
  color: black;
  background-color: #CD966B;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 1em 1em;
}

.title h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  width: 1000px;
  color: white;
  text-align: center;
}

span {
  font-weight: 400;
}