.card {
  padding: 15px;
  flex-direction: row;
  flex-flow: row wrap;
  text-align: left;
  max-width: 350px;
  background-color: white;
  flex-grow: 1;
  margin: 15px;
  border-radius: 10px;
}

.blog-img {
  width: 320px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.btn{
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: .5em 0;
}

a :hover{
  cursor: pointer;
}

.blog-description{
  margin-right: 0;
  //padding: 0 40px 0;
  height: 300px;
}
