@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
#blog{
  color: black;
  // background-color: #CD966B;
  display: flex;
  margin: 0 80px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title h1 {
  margin: 32px 0 32px 0px;
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  width: 1000px;
  color: white;
  text-align: center;
}

span {
  font-weight: 400;
}