@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


#blogwrapper{
  color: #333333;
  display: flex;
  margin: 0 5rem;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 7rem;
}


.title h1 {
  margin: 0.5rem 0 2.5rem 0px;
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  width: 100vw;
  color: white;
  text-align: center;
}

span {
  font-weight: 400;
}

@media (max-width:1440px) {
  #blogwrapper{
    margin: 0 10px;
  }
}

div.blog-buffer {
  content:'';
  border-top: 110px solid var(--creamWhite);
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  padding-top: 24px;
}