@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap');
.card {
  padding: 15px;
  flex-direction: row;
  flex-flow: row wrap;
  text-align: left;
  max-width: 350px;
  max-height: 525px;
  background-color: white;
  margin: 15px;
  border-radius: 10px;
  flex-grow: 2;
  -webkit-transform: perspective(0.5px) translateZ(0);
  transform: perspective(0.5px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.card:hover, .card:focus, .card:active{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.blog-img {
  width: 320px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

hr {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  margin-top: 20px;
  z-index: 100;
}

hr::after {
  font-family: 'Times New Roman', Times, serif;
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

.blog-title {
  margin-bottom: 5px;
}

.btn{
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1.3em 9.4em;
  border: 1px solid #666;
  margin: 4em 0;
  // border-radius: 0 0 10px 10px;
}

a :hover{
  cursor: pointer;
}

.blog-description p {
  //padding: 0 40px 0;
  // height: 300px;
  
}

.blog-txt {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin-bottom: 15px;
}