
#contact {
  min-height: 569px;
  display: flex;
  justify-content: center;
}

.contactwrapper h1 {
  margin-top: 10px;
  flex-flow: 1;
  font-size: 35px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.contactwrapper {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}
input, label {
  display: block;
}

#contact-form{
  flex-flow: 2;
  text-align: center;
  position: relative;
}

#fielddesign {
  font-family: 'Krub', sans-serif;
  width: 100%;
  align-items: center;
}

.row {
  display: block;
}

.namefield {
  height: 50px;
  margin-bottom: 10px;
  position: relative;
}
.emailfield {
  height: 50px;
  margin-bottom: 10px;
  position: relative;
}
.linkedinfield{
  height: 50px;
  margin-bottom: 30px;
  position: relative;
}

div div form label {
  float: left;
  position: relative;
  pointer-events: none;
  bottom: 30px;
  color: #d3d3d3;
  transition: 0.2s all;
  pointer-events: none;
  z-index: -1;
  cursor: text;
}

input[type="email" i] {
  color:  #d3d3d3;
  font-size: 20px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #d3d3d3;
  background: none; 
}

input[type="text" i] {
  color:  #d3d3d3;
  font-size: 20px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #d3d3d3;
  background: none;
}

input:focus {
  border-color:  #CD966B;
}
input:focus~label,input:valid~label{
  font-size: 14px;
  margin-top: -14px;
  color: #CD966B;
  font-weight: bold;
}

textarea {
  font-family: 'Krub', sans-serif;
  min-width: 50%;
  font-size: 20px;
  height: 150px;
  background: none;
  border: 2px solid  #d3d3d3;
  color:  #d3d3d3;
  border-radius: 5px 5px 5px 5px;
  resize: none;
  margin: 0;
  outline: none;
}

textarea:focus {
  border: 2px solid #CD966B;
}


.submit-btn{
  margin-top: 30px;
  width: 40%;
  font-size: 20px;
  font-family: 'Krub', sans-serif;
  color: white;
  background: none;
  padding: 20px;
  min-width: 200px;
  border: 2px solid  #d3d3d3;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  box-shadow: inset 0 0 0 0 #CD966B;
  transition: ease-out 0.3s;
  outline: none;
  transition: 0.2s;
}

p.errorMessage{
  width: 100%;
  position: absolute;
}

p.errorMessage:focus {
  text-align: center;
}

.submit-btn:active { 
  transform: scale(0.95); 
}
.submit-btn:hover {
  border: 2px solid #CD966B;
  box-shadow: inset 305px 0 0 0 #CD966B;
}