.footer {
  color:white;
  height: 50px;
  overflow: hidden;
}

.footer-wrapper{
  bottom: 0;
  flex-direction: row;
  text-align: center;
  width: 100%;
}

.footer-wrapper img {
  margin: 10px 30px 30px 30px;
  height: 30px;
  width: auto;
  transition: 0.3s;
}

.footer-wrapper img:hover {
  transform: translate(0, -10px);
}

.mediumlogo {
  filter: grayscale(1) invert(1);
}