.pal-1 {
  // background: #226089; first palette
  background: #21e6c1; 
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin: 10px;
}

.pal-2 {
  // background: #4592af; first palette
  background: #278ea5; 
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin: 10px;
}

.pal-3 {
  // background: #e3c4a8; first palette
  background: #1f4287;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin: 10px;
}

.pal-4 {
  background:#CD966B;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin: 10px;
}

.pal-5{
  background: #f8f8f9;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin: 10px;
}