$mainColor: #071e3d; 

.navbar{
  top: 0;
  transition: top 0.3s;
  position: fixed;
  width: 100%;
  padding: 15px 0;
  background-color: #f8f8f9;
  z-index: 2;
  box-shadow: 0 0.1px 12px rgb(49, 49, 49);

  background-color:  rgba(248, 248, 249, 0.8);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
}

.navbar--hidden{
  top: -200px;
  position: fixed;
  width: 100%;

}



.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  list-style: none;
}

.navbar .logo a{
  cursor: pointer;
  color: $mainColor;
  font-size: 35px;
  font-weight: 600;
  list-style: none;
}

.navbar .menu li a{
  color: #1f4287;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  position: relative;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover{
  cursor: pointer;
  //color:  #278ea5;
}
.navbar .menu li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #278ea5;
  transform: scaleX(0);
  transition: transform 250ms ease;
}
.navbar .menu li a:hover::after{
  transform: scaleX(.8)
}

.navbar .menu li a.active::after{
  transform: scaleX(.8)
}

.navbar .menu li{
  list-style: none;
  display: inline-block;
}

.menu-btn {
  color: #1f4287;
  cursor: pointer;
  display: none;
}

.menu-btn--hidden {
  left: -100px;
}

@media (max-width: 947px){
  .max-width{
    padding: 0 50px;
  }
  .menu-btn {
    color: #1f4287;
    display: block;
    z-index: 999;
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background-color: #f8f8f9;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active{
    transition: all 0.5s ease;
    left: 0;
  }

  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a{
    display: inline-block;
    margin: 20px;
    font-size: 25px;
  }
}

@supports(-webkit-backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) or
(backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) {
.navbar-b.navbar-reduce {
  transition: all 0.5s ease-in-out;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(248, 248, 249, 0.9);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  }
}