#projects{
  background-color: rgb(252, 252, 252);
  color: black;
  height: auto;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.projects-wrapper{
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card{
  margin-bottom: 10px;
  margin-top: 10px;
  height: 400px;
  width: 700px;
}
.project-card h2{
  display: flex;
  width: 100%;
  justify-content: center;
  color: #CD966B;
}
.project-card h2:before,
.project-card h2:after {
  content: '';
  border-top: 2px #CD966B solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.project-card h2:after {
  margin: 0 0 0 20px;
}

.img-card{
  border: 1px solid rgb(53, 53, 53);
  height: 400px;
  order: 1;
  min-width: 700px;

}
.img-card img {
  clip-path: inset(5px 6px);
}
.text-card {
  order: 2;
  height: 400px;
  min-width: 700px;
  
}

@media(max-width: 1399px){
  #card-1{
    order: 0;
  }
  #card-2{
    order: -1;
  }
  #card-3{
    order: 1;
  }
  #card-4{
    order: 2;
  }
  //this is input for the next project
  // #card-5{
  //   order: 3;
  // }
  // #card-6{
  //   order: 4;
  // }

}