#projects{
  background-color: rgb(252, 252, 252);
  color: black;
  height: auto;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.projects-wrapper{
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.project-card{
  margin-bottom: 10px;
  margin-top: 10px;
  height: 400px;
  width: 700px;
}
.img-card{
  height: 400px;
  order: 1;
  width: 700px;
}
.text-card {
  order: 2;
  height: 400px;
  width: 700px;

}

@media(max-width: 1399px){
  #card-1{
    order: 0;
  }
  #card-2{
    order: -1;
  }
  #card-3{
    order: 1;
  }
  #card-4{
    order: 2;
  }
  //this is input for the next project
  // #card-5{
  //   order: 3;
  // }
  // #card-6{
  //   order: 4;
  // }

}