@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://db.onlinewebfonts.com/c/8e47cbbf4f738597d2ee3ea022b77a1c?family=Posterama+1927+W01+UltraBlack');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#projects{
  background-color: rgb(252, 252, 252);
  color: black;
  height: auto;
  text-align: center;
}

.projects-wrapper{
  padding: 4.5rem 0 4.5rem 0;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.portfoliotitle {
  color: #333333;
  font-family: "Posterama 1927 W01 UltraBlack";
  font-size: 60px;
  font-weight: 500;
  font-optical-sizing: auto;
  padding-top: 2.5rem;
}

.project-card{
  height: 30rem;
  width: 33rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8rem;
}

.desc-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.desc-text {
  text-align: center;
  width: 70%;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  color: #333333;
}

.project-card h2{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  display: flex;
  width: 100%;
  justify-content: center;
  color: #CD966B;
}

.project-card h2:before,
.project-card h2:after {
  content: '';
  border-top: 2px #CD966B solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.project-card h2:after {
  margin: 0 0 0 20px;
}

.project-card{
  height: auto;
  width: 39.5rem;
  position: relative;
 }

 .text-card {
  height: auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.lang-tag {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin-top: 0.5rem;
  align-items: center;
  text-align: center;
  color: #071E3D;
  border-style: solid;
  background-color: var(--creamWhite);
  border-width: 2px;
  font-size: 20px;
  padding: 4px 12px 4px 12px;
  border-color: #071E3D;
  border-radius: 10px;
}


.button-div {
  display: flex;
  gap: 0.5rem;
  margin-top: -10px;
}

.link-class{
  color:white;
  height: 100px;
  width: auto;
  margin: 15px;
}

.overlay {
  position: absolute;
  overflow: hidden;
  height: 0;
  bottom: 30px;
  width: 441px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  transition: .2s ease;
}

.overlay a {
  color: #ffffff;
  border-style: solid;
  background-color: var(--creamWhite);
  border-width: 2px;
  font-size: 20px;
  padding: 4px 12px 4px 12px;
  background-color: var(--smokyBlue);
  border-color: var(--smokyBlue);
  border-radius: 70px;
  transition: all .2s ease;
}

.overlay a:hover {
  background-color: #ffffff;
  color: var(--smokyBlue);
  border-color: #ffffff;
}

.text-card:hover .overlay{
  bottom: 30px;
  height: 283px;
}

@media (max-width: 1383px){
  .overlay {
    position: absolute;
    overflow: hidden;
    height: 0;
    bottom: 30px;
    width: 441px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: .2s ease;
  }

  .text-card:hover .overlay{
    bottom: 30px;
    height: 283px;
  }
}

@media (max-width: 640px) {
  .overlay {
    //position: absolute;
    height: fit-content;
    width: fit-content;
    bottom: -60px;
    background-color:transparent;
    gap: 1.5rem;
  }
  .text-card:hover .overlay{
    height: fit-content;
    width: fit-content;
    bottom: -60px;
    background-color:transparent;
    gap: 1.5rem;
  }
  .overlay a:hover {
    border-color: var(--smokyBlue);
  }

}

@media (max-width: 320px) {
  .overlay {
    gap: 2px;
  }
}