#skills{
  padding-top: 56px;
  color: white;
  height: auto;
  min-height: 700px;
  padding-bottom: 70px;
}

.skills-wrapper{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

#skill-card{
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;

}

.header-div{
  margin-bottom: 30px;
}

h2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2ad4b5;
}
h2:before,
h2:after {
  content: '';
  border-top: 2px #2ad4b5 solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

h2:after {
  margin: 0 0 0 20px;
}


.lang-icon {
  margin: 55px;
  margin-bottom: 30px;
  height: 155px;
  width: auto;
}